<div class="container">

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Parfum en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
    </form>
    
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Création</th><th>Type</th> </tr>
                </thead>
                <tbody *ngFor="let parfum of parfums | searchFilter: searchTerm  ">
                    <tr>
                        <td>{{parfum.idParfum}}</td>
                        <td>{{parfum.nomParfum}}</td>
                        <td>{{parfum.prixParfum}}</td>
                        <td>{{parfum.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{parfum.type?.nomTyp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>